%heading-80 {
  color: $color-black;
  font-size: 8rem;
  font-family: $font-headings;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

%heading-50 {
  color: $color-black;
  font-size: 5rem;
  font-family: $font-headings;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

%heading-45 {
  color: $color-black;
  font-size: 4.5rem;
  font-family: $font-headings;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

%heading-40 {
  color: $color-black;
  font-size: 4rem;
  font-family: $font-headings;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

%heading-35 {
  color: $color-black;
  font-size: 3.5rem;
  font-family: $font-headings;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

%heading-30 {
  color: $color-black;
  font-size: 3rem;
  font-family: $font-headings;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
