.trader {
  background-color: #eef2f3;
  padding: 14rem 0;

  @include media("<=tablet") {
    padding: 14rem 2rem;
  }

  @include media("<phone") {
    padding: 9rem 2rem;
  }
}

.trader_wrapper {
}

.trader_headline {
  margin: 0 auto 7.8rem;
  text-align: center;

  strong {
    @extend %gradient-bold-text;
  }

  @include media("<=tablet") {
    margin: 0 auto 4rem;
  }
}

.trader_info {
  @extend %space-between;

  @include media("<=tablet") {
    flex-direction: column;
  }

  @include media("<phone") {
    gap: 3rem;
  }
}

.trader_figure {
  height: 66rem;
  position: relative;
  width: 64.1rem;

  @include media("<=tablet") {
    height: 40rem;
    margin: auto;
    width: 50%;
  }

  @include media("<phone") {
    height: 36rem;
    width: 100%;
  }
}

.trader_image {
  @extend %cover;
}

.trader_list {
  @extend %flex-column;

  gap: 4rem;

  @include media("<phone") {
    gap: 2.4rem;
  }
}

.trader_card {
  @extend %space-between;

  gap: 2rem;

  &:last-child .trader_card_description {
    border-bottom: none;
  }

  @include media("<=tablet") {
    justify-content: flex-start;
    gap: 3rem;
  }
}

.trader_card_icon {
  max-height: 8rem;
}

.trader_card_info {
}

.trader_card_headline {
  margin-bottom: 1.8rem;
}

.trader_card_description {
  border-bottom: 0.1rem solid #d4d5d6;
  max-width: 54.2rem;
  padding-bottom: 4.2rem;

  @include media("<=tablet") {
    max-width: none;
    width: 100%;
  }

  @include media("<phone") {
    padding-bottom: 2.4rem;
  }
}
