.hero {
  padding: 32rem 0 9.2rem;

  @include media("<=tablet") {
    padding: 18rem 2rem 9.2rem;
  }
}

.hero_wrapper {
  margin: auto;
}

.hero_info {
  @extend %flex-column-center;

  margin-bottom: 8.6rem;
  position: relative;
}

.hero_tag {
  @extend %center-horizontally;

  margin-bottom: 2.2rem;
}

.hero_tag_description {
  border-radius: 3rem;
  font-weight: 500;
  padding: 0.4rem 2rem;
  text-align: center;

  @include media("<phone") {
    padding: 1.4rem 2rem;
  }
}

.hero_headline {
  max-width: 105rem;
  text-align: center;

  strong {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.hero_description {
  margin: 2.2rem 0 4rem;
  max-width: 83.7rem;
  text-align: center;
}

.hero_button {
}

.hero_stickers {
}

.hero_sticker_figure {
  position: absolute;

  @include media("<=tablet") {
    display: none;
  }

  &:first-child {
    left: 14rem;
    top: 0;
  }

  &:nth-child(2) {
    right: 14rem;
    top: 0;
  }

  &:nth-child(3) {
    left: 24rem;
    bottom: 0rem;
  }

  &:nth-child(4) {
    right: 24rem;
    bottom: -14rem;
  }
}

.hero_sticker {
}

.hero_figure {
  height: 74.5rem;
  margin: auto;
  position: relative;
  width: 144rem;

  @include media("<=tablet") {
    height: 42.5rem;
    width: 100%;
  }

  @include media("<phone") {
    height: 18rem;
  }
}

.hero_image {
  @extend %cover;
}
