.highlight {
  padding: 14rem 0;

  &.highlightMobileApp {
    background-color: #263238;

    .highlight_wrapper {
      @extend %space-between;
    }

    .highlight_info {
      @extend %flex-column;

      align-items: flex-start;
      justify-content: flex-start;
    }

    .heading,
    .paragraph {
      color: $color-white;
    }

    .highlight_figure {
      height: 46.7rem;
      position: relative;
      width: 66.7rem;
    }

    .highlight_image {
      @extend %cover;
    }

    .highlight_description {
      max-width: 54.9rem;
      margin: 2.6rem 0;
    }

    .highlight_details {
      @extend %space-between-center;

      width: 100%;
    }

    .highlight_details_info {
      @extend %center-horizontally;

      gap: 2rem;
    }

    .highlight_details_text {
      @extend %flex-column;

      justify-content: center;
      gap: 0.6rem;
    }

    .highlight_details_text_sub_headline {
    }

    .highlight_details_text_label {
      .paragraph {
        @extend %description-20;

        color: $color-white;
        font-weight: 700;
      }
    }

    .highlight_details_buttons {
      display: flex;
      gap: 2rem;
    }

    .highlight_details_button {
      @extend %center;

      background-color: transparent;
      border: 0.1rem solid #394952;
      border-radius: 50%;
      cursor: pointer;
      height: 8rem;
      transition: all 0.4s ease;
      width: 8rem;

      &:hover {
        background-color: #394952;
      }

      img {
        transition: all 0.4s ease;
      }

      &:hover img {
        transform: rotate(360deg);
      }
    }
  }
}

.highlight_wrapper {
}

.highlight_info {
  @extend %space-between-center;
}

.highlight_label {
  max-width: 78rem;

  strong {
    color: #ffb355;
  }
}

.highlight_banner {
  background: linear-gradient(
    101.49deg,
    #62d6ed -5.03%,
    #ffb3d1 51.28%,
    #ffd7a5 104.17%
  );
  border-radius: 2.4rem;
  height: 77.112rem;
  padding: 12.8rem 9.4rem 0;
  margin-top: 6rem;
}

.highlight_banner_info {
  @extend %space-between-center;

  margin-bottom: 7.2rem;
}

.highlight_banner_headline {
}

.highlight_banner_description {
  color: $color-white;
  max-width: 54.9rem;
  margin-top: 2.4rem;

  .paragraph {
    color: inherit;
  }
}

.highlight_banner_headline {
}

.highlight_banner_badges {
  display: flex;
  gap: 2rem;
}

.highlight_badge {
  background-color: $color-white;
  border-radius: 9rem;
  display: flex;
  gap: 1rem;
  padding: 1.8rem 2.4rem;
}

.highlight_badge_image {
}

.highlight_badge_description {
  color: $color-black;
}

.highlight_banner_figure {
  height: 55rem;
  margin: auto;
  position: relative;
  width: 70%;
}

.highlight_banner_image {
  @extend %cover;
}
