.statistics {
  padding-bottom: 18rem;

  @include media("<=tablet") {
    padding: 0 2rem 14rem;
  }

  @include media("<phone") {
    padding: 0 2rem 9rem;
  }
}

.statistics_wrapper {
  @extend %space-between-center;

  @include media("<phone") {
    gap: 3rem;
    align-items: flex-start;
    flex-direction: column;
  }
}

.statistics_grid {
  column-gap: 7rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  row-gap: 8rem;

  @include media("<phone") {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    width: 100%;
  }
}

.statistics_item {
  @extend %align-center-vertically;

  gap: 2.8rem;
  width: fit-content;

  &:nth-child(odd) {
    padding-right: 7rem;
    position: relative;

    &::after {
      content: "";
      background-color: #e0e0e0;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 7rem;
      width: 0.1rem;

      @include media("<phone") {
        display: none;
      }
    }

    @include media("<phone") {
      padding-right: 0;
    }
  }

  @include media("<phone") {
    border-bottom: 0.1rem solid #e0e0e0;
    display: grid;
    grid-template-columns: 10rem 1fr;
    padding-bottom: 3rem;
    width: 100%;
  }
}

.statistics_number {
  display: flex;
}

.statistics_number_text {
  .paragraph {
    @extend %heading-50;
  }
}

.statistics_number_sign {
  .paragraph {
    @extend %heading-50;

    color: inherit;
  }
}

.statistics_description {
  min-width: 16.3rem;

  @include media("<phone") {
    min-width: auto;
  }
}

.statistics_figure {
  height: 24.9rem;
  position: relative;
  width: 48rem;

  @include media("<phone") {
    height: auto;
    width: 100%;
  }
}

.statistics_image {
  @extend %cover;
}
